  padding: 0.35rem 0.9rem;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(226,103,7,0.3);
  transition: background-color 0.3s ease;
  user-select: none;
}
.btn-toggle:hover {
  background-color: #ca5a05;
}
footer {
  margin-top: auto;
  font-size: 0.8rem;
  color: #bbb;
  text-align: center;
  padding: 0.5rem 0;
  user-select: none;
}
/* Barra de rolagem para mobile */
main::-webkit-scrollbar {
  width: 6px;
}
main::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
main::-webkit-scrollbar-thumb {
  background: #d35400;
  border-radius: 10px;
}
/* Ajustes para dispositivos móveis */
@media (max-width: 600px) {
  body {
    padding: 0.5rem;
    max-width: 350px;
  }
